.input {
    padding: 8px 10px;
    min-width: 200px;
    text-shadow: 1px 1px 2px blueviolet;
    border-radius: 8px;
    border: none;
    background-color: inherit;
    background: rgba(179, 115, 217, 0.6)
}
label {
    color: rgb(76, 73, 73);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.p {
    color: rgb(42, 37, 37);
    font-size: 18px;
}
.infoForUser {
    color: rgb(42, 37, 37);
    font-size: 24px;
}
